.weather-display{

}
.weather-display p {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: .7em;
    line-height: 1.3em;
    letter-spacing: .08em;
}