.weather-container{
    background-color: #5463FF;
    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.5);
    border-radius: 35px;
    
    height: 525px;
    width: 80%;  
    position: relative;  
    padding: 15px;
}

/* adjust after choosing font */
.weather-header h1{
    color: #FFC300;
    font-size: 2rem;
    text-align: center;
}

.weather-header div{
    display: flex;
    border-bottom:2px solid white;
    width: 60%;
    margin: auto;
}

#zip-error {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    border: none;
    text-align: center;
    color: black; 
    font-weight: bold;
}

.weather-header button {
    background-color: transparent;
    border: none;
    color: white; 
    cursor: pointer;   
}

.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    width: 100%;
    color: white;
    font-size:1rem;    
}

.search-input::-webkit-input-placeholder {
    color: white;
    font-size: 1.2em;
    opacity: 0.5;    
}

.weather-info{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.weather-info i{
    color: #FFC300;
    Position: relative;
    top: 7px;
    animation: sun 5s infinite linear;
}

.weather-info p {
    font-size: 1rem;
}

@keyframes sun {
    to{
        transform: rotate(360deg);  
        color: #FC7E2F;      
    }       
}

